@page "/"

<PageTitle>What's My Level?</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="TestLoad">Test Load</button>

@code {
    [Inject]
    protected ILoadData dataLoader { get; set; }

    public void TestLoad() 
    {
        dataLoader.LoadData();
    }
}
