@page "/"

<PageTitle>What's My Level?</PageTitle>

<div id="vertical-container">
    <div class="horizontal-container">
        <p id="level">@level</p>
    </div>
    <div class="horizontal-container">
        <div id="neighbors">
            @foreach (Monster monster in monsters)
            {
                <MonsterEntry monsterSource="monster" OnSelectAction="ChangeSelectedMonster" />
            }
        </div>
        <div id="inputs">
            <p>General Stats</p>
            <input class="long-input" type="text" placeholder="HP" @bind="inputs[0]"/>
            <input class="long-input" type="text" placeholder="AC" @bind="inputs[1]" />
            <p>Attributes & Saves</p>
            <div class="horizontal-container">
                <input class="short-input" type="text" placeholder="STR" @bind="inputs[2]" />
                <input class="short-input" type="text" placeholder="DEX" @bind="inputs[3]" />
                <input class="short-input" type="text" placeholder="CON" @bind="inputs[4]" />
                <input class="short-input" type="text" placeholder="INT" @bind="inputs[5]" />
                <input class="short-input" type="text" placeholder="WIS" @bind="inputs[6]" />
                <input class="short-input" type="text" placeholder="CHA" @bind="inputs[7]" />
            </div>
            <div class="horizontal-container">
                <input class="short-input" type="text" placeholder="Fort" @bind="inputs[8]" />
                <input class="short-input" type="text" placeholder="Ref" @bind="inputs[9]" />
                <input class="short-input" type="text" placeholder="Will" @bind="inputs[10]" />
            </div>
            <p>Additional Info</p>
            <input class="long-input" type="text" placeholder="# of immunities" @bind="inputs[11]" />
            <input class="long-input" type="text" placeholder="# of weaknesses" @bind="inputs[12]" />
            <input class="long-input" type="text" placeholder="# of resistances" @bind="inputs[13]" />
            <input class="long-input" type="text" placeholder="# of abilities" @bind="inputs[14]" />
            <p>Highest 1 Action Damage</p>
            <div class="horizontal-container">
                <input class="short-input" type="text" placeholder="#" @bind="damageComponents[0]" />
                <span class="insert-char">d</span>
                <input class="short-input" type="text" placeholder="#" @bind="damageComponents[1]" />
                <span class="insert-char">+</span>
                <input class="short-input" type="text" placeholder="# " @bind="damageComponents[2]" />
            </div>
            <button @onclick="RefreshQuery">Refresh</button>
        </div>
        <div id="details">
            @if(selectedMonster != null)
            {
                <MonsterDetails monsterSource="selectedMonster"/>
            }
        </div>
    </div>
</div>
