@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Neuton:wght@400;700&family=Noto+Sans:wght@400;600&display=swap');

body {
    background-color: var(--background);
    font-family: 'Neuton', serif;
    color: var(--white);
    overflow: hidden;
    margin: 0;
    --background: #03191E;
    --secondary: #747C92;
    --highlight: #95190C;
    --white: #E8E9EB;
}
